# Data Generator

Generating more realistic data

In [1]:
# helper functions
from datagen_helper import generate_pd_df

import pandas as pd

In [2]:
df_pd = generate_pd_df(20)

df_pd.to_csv('transactions-sample.csv', sep=',', index=False)
print (f'wrote to "transactions-sample.csv"')

df_pd.head(10)

wrote to "transactions-sample.csv"

,id,timestamp,mti,card_number,amount_customer,merchant_type,merchant_id,merchant_address,ref_id,amount_merchant,response_code
0,1c309b20-5074-41cd-8a46-45ebebe04cf4,2017-06-21 17:48:37.673,0100,4789625716349534,95.00,0167,81,"Star Hardware, 39 Broadway, Redwood City, UT, USA",,NaN,NaN
1,fd421703-f724-425b-99f7-436c7f2c2a8b,2017-06-21 17:48:40.425,0110,4789625716349534,95.00,0167,81,"Star Hardware, 39 Broadway, Redwood City, UT, USA",1c309b20-5074-41cd-8a46-45ebebe04cf4,92.15,00
2,f06b52bc-2944-4080-ad27-f1f8de116394,2017-09-27 14:26:07.825,0100,4885453044056032,8.19,8371,0,"Super Nursery, 998 Alameda ave, San Francisco,...",,NaN,NaN
3,11deb9b1-e9b8-4fbd-87d8-59bc3e026899,2017-09-27 14:26:08.336,0110,4885453044056032,8.19,8371,0,"Super Nursery, 998 Alameda ave, San Francisco,...",f06b52bc-2944-4080-ad27-f1f8de116394,7.94,08
4,1c8b6836-b6e8-4f3d-b3b4-a90adbbf24f8,2015-02-12 05:33:48.391,0100,4192189306372703,8.93,4245,44,"Summer Winds Dry cleaners, 611 Alameda ave, Sa...",,NaN,NaN
5,e07fe94c-ae66-48d2-9ee4-bf4ac477f2dc,2015-02-12 05:33:49.830,0110,4192189306372703,8.93,4245,44,"Summer Winds Dry cleaners, 611 Alameda ave, Sa...",1c8b6836-b6e8-4f3d-b3b4-a90adbbf24f8,8.66,13
6,919e65a3-fe22-42e6-bc79-933b1702a004,2019-08-04 14:22:19.402,0100,4532702044918856,49.18,1625,0,"First Restaurant, 178 Market St, Redwood City,...",,NaN,NaN
7,accc1ecc-037e-4428-a675-3fc8d25b170e,2019-08-04 14:22:21.934,0110,4532702044918856,49.18,1625,0,"First Restaurant, 178 Market St, Redwood City,...",919e65a3-fe22-42e6-bc79-933b1702a004,47.70,00
8,74ba886f-9be5-4c99-a892-47efb4263202,2019-06-24 21:38:04.747,0100,4122937968520189,19.18,0328,39,"Star Nursery, 332 Beach rd, Foster City, MT, USA",,NaN,NaN
9,697a72e7-0ffa-4b8f-938f-a61a7d53c333,2019-06-24 21:38:06.314,0110,4122937968520189,19.18,0328,39,"Star Nursery, 332 Beach rd, Foster City, MT, USA",74ba886f-9be5-4c99-a892-47efb4263202,18.60,00

## Create a Spark DataFrame

In [3]:
## Init Spark
import os, sys

this_dir = os.path.abspath('')
parent_dir = os.path.dirname(this_dir)
grand_parent_dir = os.path.dirname(parent_dir)
    
if parent_dir not in sys.path:
    sys.path.append(parent_dir)

from init_spark import init_spark

spark = init_spark()

Initializing Spark...
Spark found in :  /Users/sujee/apps/spark
Spark config:
	 spark.app.name=TestApp
	spark.master=local[*]
	executor.memory=2g
	spark.sql.warehouse.dir=/var/folders/lp/qm_skljd2hl4xtps5vw0tdgm0000gn/T/tmpev3yxvth
	some_property=some_value
Spark UI running on port 4040

In [4]:
import pyspark
from pyspark.sql.types import ArrayType, IntegerType, LongType, StringType, FloatType, TimestampType, StructType, StructField

my_schema = StructType([
                       StructField("id", StringType(), True),
                       StructField("timestamp", StringType(), True),
                       StructField("mti", StringType(), True),
                       StructField("card_number", StringType(), True),
                       StructField("amount_customer", FloatType(), True),
                       StructField("merchant_type", StringType(), True),
                       StructField("merchant_id", StringType(), True),
                       StructField("merchant_address", StringType(), True),
                       StructField("ref_id", StringType(), True),
                       StructField("amount_merchant", FloatType(), True),
                       StructField("response_code", StringType(), True),
                      ])


spark_df = spark.createDataFrame(df_pd, schema=my_schema)
spark_df.show(truncate=True)

+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|                  id|           timestamp| mti|     card_number|amount_customer|merchant_type|merchant_id|    merchant_address|              ref_id|amount_merchant|response_code|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+
|1c309b20-5074-41c...|2017-06-21 17:48:...|0100|4789625716349534|           95.0|         0167|         81|Star Hardware, 39...|                    |            NaN|          NaN|
|fd421703-f724-425...|2017-06-21 17:48:...|0110|4789625716349534|           95.0|         0167|         81|Star Hardware, 39...|1c309b20-5074-41c...|          92.15|           00|
|f06b52bc-2944-408...|2017-09-27 14:26:...|0100|4885453044056032|           8.19|         8371|          0|Super Nursery, 99...|                    |            NaN|          NaN|
|11deb9b1-e9b8-4fb...|2017-09-27 14:26:...|0110|4885453044056032|           8.19|         8371|          0|Super Nursery, 99...|f06b52bc-2944-408...|           7.94|           08|
|1c8b6836-b6e8-4f3...|2015-02-12 05:33:...|0100|4192189306372703|           8.93|         4245|         44|Summer Winds Dry ...|                    |            NaN|          NaN|
|e07fe94c-ae66-48d...|2015-02-12 05:33:...|0110|4192189306372703|           8.93|         4245|         44|Summer Winds Dry ...|1c8b6836-b6e8-4f3...|           8.66|           13|
|919e65a3-fe22-42e...|2019-08-04 14:22:...|0100|4532702044918856|          49.18|         1625|          0|First Restaurant,...|                    |            NaN|          NaN|
|accc1ecc-037e-442...|2019-08-04 14:22:...|0110|4532702044918856|          49.18|         1625|          0|First Restaurant,...|919e65a3-fe22-42e...|           47.7|           00|
|74ba886f-9be5-4c9...|2019-06-24 21:38:...|0100|4122937968520189|          19.18|         0328|         39|Star Nursery, 332...|                    |            NaN|          NaN|
|697a72e7-0ffa-4b8...|2019-06-24 21:38:...|0110|4122937968520189|          19.18|         0328|         39|Star Nursery, 332...|74ba886f-9be5-4c9...|           18.6|           00|
|0fe9faac-3c43-495...|2018-08-15 20:16:...|0100|4934442157380292|          55.33|         0672|         66|Summer Winds Hard...|                    |            NaN|          NaN|
|0a8c21c7-8a1d-427...|2018-08-15 20:16:...|0110|4934442157380292|          55.33|         0672|         66|Summer Winds Hard...|0fe9faac-3c43-495...|          53.67|           00|
|7e07c4ac-b46a-44e...|2017-05-26 16:55:...|0100|4328418993612223|           6.66|         8256|         98|Super Bakery, 127...|                    |            NaN|          NaN|
|7b2a61bc-bb43-4a9...|2017-05-26 16:55:...|0110|4328418993612223|           6.66|         8256|         98|Super Bakery, 127...|7e07c4ac-b46a-44e...|           6.46|           00|
|6de9f2ef-ee89-470...|2018-01-23 23:26:...|0100|4464697836546129|          29.93|         6894|          0|Best Liquors, 511...|                    |            NaN|          NaN|
|c7e633f2-21be-469...|2018-01-23 23:26:...|0110|4464697836546129|          29.93|         6894|          0|Best Liquors, 511...|6de9f2ef-ee89-470...|          29.03|           00|
|cc5ac85b-ea64-437...|2015-09-03 18:46:...|0100|4736706088508349|           34.3|         7941|          0|Awesome Auto, 514...|                    |            NaN|          NaN|
|8a9ec4a8-9e19-484...|2015-09-03 18:46:...|0110|4736706088508349|           34.3|         7941|          0|Awesome Auto, 514...|cc5ac85b-ea64-437...|          33.27|           13|
|91b2d8e9-8a1f-4e0...|2018-01-18 08:23:...|0100|4975243860272126|          76.07|         1403|          0|Best Donuts, 804 ...|                    |            NaN|          NaN|
|56860d23-ae58-47d...|2018-01-18 08:23:...|0110|4975243860272126|          76.07|         1403|          0|Best Donuts, 804 ...|91b2d8e9-8a1f-4e0...|          73.79|           13|
+--------------------+--------------------+----+----------------+---------------+-------------+-----------+--------------------+--------------------+---------------+-------------+